.inputs {
  display: block;
}

#wishlist {
    /*position: fixed;*/
    margin: 0;
    width: 50%;
    float: right;
    display: inline-block;
}

#moviesDisplay {
    left: 0px;
    width: 50%;
    margin: 0;
    display: inline-block;
}

.movie {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}
